/* color palette = https://colorhunt.co/palette/2763 */

body {
    background-color: #eeeeee;
}

.navbar {
    background-color: #eeeeee;
    text-align: center;
    margin-bottom: 200px;
    
    
}

a {
    text-decoration: none;
    font-size: 1rem;
    color: #00adb5;
    
}

nav ul {
    list-style: none;
}

nav li {
    display: inline-block;
    padding: 30px;
}

.wrapper {
    background-color: #eeeeee;
    display: grid;
    grid-template-columns: repeat(5, [col] 20% ) ;
    grid-template-rows: repeat(11, [row] auto  );
    color: #444;
}

.box {
    color: #fff;
    border-radius: 5px;
    padding: 20px;
    font-size: 150%;
    z-index:10;
    /* border: 1px solid black; */

}

.a {
    
    grid-column: col  / span  2;
    grid-row: row ;
    text-align: center;
    color: #393e46;
    margin-top: 60px;
    
    
}
.b {
    grid-column: col 4 / span  2 ;
    grid-row: row ;
    text-align: center; 
}


.c {
    grid-column: col 3 / span 1;
    grid-row: row 2 ;
    height: 300px;
    opacity: 20%;
    
    
}
.d {
    grid-column: col 1 / span  2 ;
    grid-row: row 3 ;
    z-index: 10;
    font-size: 6rem;
    color: #393e46;
    text-align: center;
}

.e {
    grid-column: col 2 / span  3;
    grid-row: row 3 ;
    color: #393e46;
    z-index: 20;
    margin-top: 90px;
 }

.f {
    grid-column: col 4 / span 2;
    grid-row: row 3  ;
    z-index: 10;
    margin-top: 300px;
    margin-left: 50px;
    opacity: 30%;
}

.g {
    grid-column: col 3 / span 1;
    grid-row: row 4 ;
    height: 300px;
}

.h {
    grid-column: col 1 / span  2 ;
    grid-row: row 5 ;
    opacity: 6%;
    margin-top: 100px; 
    transform: rotate(-45deg);
    border: none;
}

.i {
    grid-column: col 4 / span  2 ;
    grid-row: row 5;    
    z-index: 10;
    font-size: 6rem;
    color: #393e46;
    text-align: center;
    margin-bottom: 120px;
}

.j {
    grid-column: col 2 / span  3 ;
    grid-row: row 5;
    z-index: 20;    
    text-align: center;
    margin-top: 110px;
}

.k {
    grid-column: col 3 / span 1;
    grid-row: row 6 ;
    height: 300px;
}

.l {
    grid-column: col 1 / span 2;
    grid-row: row 7 ;
    z-index: 10;
    font-size: 6rem;
    color: #393e46;
    text-align: center;
}

.m {
    grid-column: col 2 / span 3;
    grid-row: row 7 ;
    z-index: 20;
    margin-top: 110px;
    text-align: center;
    
}

.n {
    grid-column: col 4 / span 2;
    grid-row: row 7 ;
}

.o {
    grid-column: col 3 / span 1;
    grid-row: row 8 ;
    height: 300px;
}

.p {
    grid-column: col 1 / span 2;
    grid-row: row 9 ;
    z-index: 10;
    
}

.q {
    grid-column: col 3 / span 1;
    grid-row: row 9 ;
    z-index: 20;
    display: block;
    margin-top: 120px;
    
}

.r {
    grid-column: col 3 / span 1;
    grid-row: row 9 ;
    z-index: 10;
    font-size: 6rem;
    color: #393e46;
    text-align: center;
    
    
}
.s {
    grid-column: col 1 / span 5;
    grid-row: row 10 ;
  
    text-align: center;
    color: #393e46;
    font-size: .9rem;
    opacity: 50%;
}

.t {
    grid-column: col 1 / span 5;
    grid-row: row 11 ;
    height: 300px;
}

/* **************************************** CUSTOM CLASS DESIGNATIONS ********************************** */

.profile-image {
    border-radius: 50%;
    filter: brightness(85%);
}

.a p {
    font-size: 1rem;
    text-align: center;
    color: #393e46;
}

.about-content {
    opacity: 100%;
}

.skill-images {
    margin: 6px;
}

.card {
    box-shadow: 0 0px 8px 0 black;
    transition: 0.3s;
    display: inline-block;
    margin: 10px;
    height: 400px;
    width: 300px;
    
    word-wrap: break-word;
    
    
    
}

.card:hover {
    box-shadow: 0 8px 16px 0;
}

.card-container {
    padding: 2px 16px;
    color: #393e46;
}

input, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #00adb5;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit] {
    background-color: #00adb5;
    color: #eeeeee;
    font-family: 'Dancing Script', cursive;
    font-size: 2rem;

}

input[type=submit]:hover {
    background-color: #00acb5bb;
}

.failPageContent {
    text-align: center;
    margin-top: 100px;

}

.failButton {
    background-color: rgba(211, 211, 93, 0.925);
    border-radius: 10px;
    padding: 10px 15px 10px 15px;
    box-shadow: 1px 2px 3px black;
}

.failH1 {
    font-family: 'Dancing Script', cursive;
    font-size: 5rem;
}

/* **************************************** CUSTOM ID DESIGNATIONS ********************************** */

#web-developer {
    font-family: 'Dancing Script', cursive;
    font-size: 5rem;
    color: #00adb5;
}

#about,
#skills,
#projects,
#contact {
    font-family: 'Dancing Script', cursive;
}

