/* color palette = https://colorhunt.co/palette/2763 */

* {
    box-sizing: border-box;
}

html {
    font-family: 'Open Sans', sans-serif;
    font-family: 'Nunito', sans-serif;
}

body {
    background-color: #222831;
    text-align: center;
    margin: auto;
    
}

img {
    max-width: 100%;
    height: auto;
}

a {
    text-decoration: none;
    color: #00adb5;  
}

.about-format {
    color: #eeeeee;
    text-align: left;
}

hr {
    
    border-top: 1px solid #393e46;
    width: 50%;
}

/* *********** CUSTOM CLASSES ************ */

.topNav {
    background-color: #222831;
    overflow: hidden;
    text-align: center;
    
}

.topNav a {
    display: inline-block;
    color: #00adb5;
    text-align: center;
    padding: 10px 12px;
    text-decoration: none;
    font-size: 17px;
    border-radius: 4px;
}

.topNav a:hover {
    color:#075c61;
}

.topNav .icon {
    display: none;
}

[class*="col-"] {
    float: left;
    padding: 15px;
    width: 100%;
    
}


[class*="row-"]::after {
    content: "";
    clear: both;
    display: table;
}

.cursive-font {
    font-family: 'Dancing Script', cursive;
}

.big-font {
    font-size: 80px;
}

.blue-hue {
    color: #00adb5;
    max-width: 100%;
}

.section-header {
    color: #00adb5;
    font-size: 120px;
}

.skill-images {
    margin: 10px;
}



.project-img {
    display: inline-block;
    margin: 10px; 
    border: 1px solid #eeeeee;
}

.project-img:hover {
    filter: brightness(80%);
}

.row-2, .row-3 {
    margin-bottom: 100px;
}

input, textarea {
    
    padding: 12px;
    border: 1px solid #00adb5;
    border-radius: 4px;
    margin-top: 6px;
    margin-bottom: 16px; 
    display: block; 
    width: 100%;
 }

input[type=submit] {
    background-color: #00adb5;
    color: #eeeeee;
    font-family: 'Dancing Script', cursive;
    font-size: 2rem;
}

input[type=submit]:hover {
    background-color: #00acb5bb;
}

.failPageContent {
    text-align: center;
    margin-top: 100px;
    color: #eeeeee;
}

.failButton {
    background-color: #00adb5;
    color: #eeeeee;
    border-radius: 4px;
    padding: 12px;
    margin-top: 6px;
    margin-bottom: 16px;
    box-shadow: 1px 2px 3px black;
    width: 10%;

}


/* ********* CUSTOM IDS ********* */

#intro-text {
    font-size: 40px;
    color: #eeeeee;
}

#self-portrait {
    filter: brightness(50%);
    border-radius: 50%;
}

#intro-wd {
    text-shadow: 1px 1px 1px #eeeeee;
    
}

#copyright {
    text-align: center;
    filter: brightness(45%);

}

#full-hr {
    width: 100%;
}





/* *************  @media queries   **************** */

@media only screen and (max-width: 320px) {
    #intro-wd {
        font-size: 58px;
    }
}

@media only screen and (max-width: 480px) {
    .section-header {
        font-size: 58px;
    }
}

@media only screen and (min-width: 600px) {

    .col-s-1 {
        width: 8.33%;
    }

    .col-s-2 {
        width: 16.66%;
    }

    .col-s-3 {
        width: 25%;
    }

    .col-s-4 {
        width: 33.33%;
    }

    .col-s-5 {
        width: 41.66%;
    }

    .col-s-6 {
        width: 50%;
    }

    .col-s-7 {
        width: 58.33%;
    }

    .col-s-8 {
        width: 66.66%;
    }

    .col-s-9 {
        width: 75%;
    }

    .col-s-10 {
        width: 83.33%;
    }

    .col-s-11 {
        width: 91.66%;
    }

    .col-s-12 {
        width: 100%;
    }

    .topNav {
        padding-top: 20px;
        padding-bottom: 20px;
    }
}

@media only screen and (min-width: 768px) {

    .col-1 {
        width: 8.33%;
    }

    .col-2 {
        width: 16.66%;
    }

    .col-3 {
        width: 25%;
    }

    .col-4 {
        width: 33.33%;
    }

    .col-5 {
        width: 41.66%;
    }

    .col-6 {
        width: 50%;
    }

    .col-7 {
        width: 58.33%;
    }

    .col-8 {
        width: 66.66%;
    }

    .col-9 {
        width: 75%;
    }

    .col-10 {
        width: 83.33%;
    }

    .col-11 {
        width: 91.66%;
    }

    .col-12 {
        width: 100%;
    }
}

@media screen and (max-width: 600px){
    
    
    .topNav a {
        display: none;
    }

    .topNav a.icon {
        float: right;
        display: block;
        background-color: #00adb5;
        color: #eeeeee;
    }
    
    .topNav.responsive {
        position: relative;
    }

    .topNav.responsive a.icon {
        position: absolute;
        right: 0;
        top: 0;
    }

    .topNav.responsive a {
        float: none;
        display: block;
        text-align: center;
    }

}

@media screen and (min-width: 1060px) {
    .project-images-area {
        margin-top: 120px;
    }
}




/* ********** OLD CODE ********** */


/* 









