/* color palette = https://colorhunt.co/palette/2763 */
* {
    font-family: "PT Sans, sans-serif";
}

body {
    background-color: #222831;
}

hr {
    border-color: #00adb5;
    
}

.navbar {
    background-color: #222831;
    text-align: center;
}

a {
    text-decoration: none;
    text-shadow: 1px 1px 12px #eeeeee ;
    font-size: 1rem;
    color: #00adb5;
}

nav ul {
    list-style: none;
}

nav li {
    display: inline-block;
    padding: 30px;
}

.wrapper {
    background-color: #222831;
    display: grid;
    grid-template-columns: repeat(5, [col] 20% ) ;
    grid-template-rows: repeat(3, [row] auto  );
    
    color: #444;
}

.box {
    color: #fff;
    border-radius: 5px;
    padding: 20px;
    font-size: 150%;
    z-index:10;
    border: 1px solid black;

}

.a {
    
    grid-column: col  / span  2;
    grid-row: row ;
    text-align: center;
    
    
}
.b {
    grid-column: col 4 / span  2 ;
    grid-row: row ;    
}


.c {
    grid-column: col 4 / span 2;
    grid-row: row 2 ;
    
}
.d {
    grid-column: col 1 / span  1 ;
    grid-row: row 2 ;
}

.e {
    grid-column: col 3 / span  1;
    grid-row: row 2 ;
}

.f {
    grid-column: col 3 / span 3;
    grid-row: row 3  ;
    background-color: rgba(49,121,207, 0.5);
    z-index: 20;
}

/* custom class designations */

.profile-image {
    border-radius: 50%;
    filter: brightness(35%);
}

.a p {
    font-size: 1rem;
    text-align: center;
    color: #393e46;
    
    
}

/* custom ID designations */

#fullstack-text {
    color:  #00adb5;
}